* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background-color: #111111;
}

#topCancel {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #2c2c2c;
}
#topCancel a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
}

#topCancel a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#topCancel a img {
  height: 24px;
  width: 24px;
}

#topCancel span {
  font-size: 1.125rem;
  color: #fafafa;
  font-weight: 500;
}

#mainWrapper {
  display: flex;
}

#sidebar {
  width: 10%;
  min-width: 256px;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding-top: 24px;
  height: 100vh;
}

#main {
  width: 90%;
  height: 100vh;
}

#logo {
  font-family: "Funnel Display", sans-serif;
  color: lawngreen;
  font-size: 2rem;
  text-align: center;
}

#mainContent {
  background-color: #2c2c2c;
  border-radius: 20px;
  margin: 0 24px 24px 0;
  height: calc(100vh - 80px);
  padding: 24px;
  overflow-y: scroll;
}

.item {
  height: 40px;
  border-top: 1px solid #111111;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.name {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 600;
}

.content {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}

.date {
  position: absolute;
  right: 0;
  color: #fff;
}

#info {
  position: absolute;
  bottom: -420px;
  right: 0;
  background-color: #fafafa;
  height: 500px;
  width: 400px;
  border-radius: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 10;
  cursor: pointer;
  padding: 24px;
}

#info.active {
  bottom: 0;
}

#info h1 {
  text-align: center;
  color: #2b2b2b;
}

#info span {
  font-size: 1.125rem;
  font-weight: 500;
}

.spItem {
  display: none;
  cursor: pointer;
  border-radius: 5px;
}

/* .spItem:hover {
  background-color: #cc0606;
} */

.spItem label {
  cursor: pointer;
}

#new {
  background-color: lightgreen;
  border-radius: 255px;
  padding: 5px 16px;
  font-size: 0.8rem;
}

.spItem {
  background-color: rgba(255, 255, 255, 0.5);
}

.window {
  width: 800px;
  height: 800px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 100;
  display: none;
  top: 100px;
  left: 100px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.window h1,
.window p,
.window h2 {
  color: #2b2b2b;
}
.header {
  width: 100%;
  height: 30px;
  background: #fafafa;
  padding: 0 16px;
  cursor: grab;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header span {
  color: #2b2b2b;
  font-weight: 500;
  font-size: 0.9rem;
}

#editables {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  cursor: auto;
  width: 20%;

  height: 100%;
}
#close {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.window .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#headerContent button {
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  transition-duration: 0.3s;
  border-radius: 5px;
}

#headerContent button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#from,
#predmet {
  color: #2b2b2b;
  margin: 8px 0;
}

#mesage {
  margin-top: 24px;
}

strong {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#wrapp {
  display: flex;
}

.window .activeWin {
  display: flex;
}

.content {
  padding: 10px;
}

#cardWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

#infoCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#infoCardWrapper div {
  display: flex;
  flex-direction: column;
  gap: 0;
}

#visa {
  border-radius: 10px;
  width: 200px;
}

.small {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}

#timeline {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 32px;
}

.pipe {
  height: 50px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

#timeline img {
  height: 16px;
  width: 16px;
  display: none;
}

#timeline .levels {
  display: flex;
  gap: 8px;
  align-items: center;
}

#timeline h5 {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
}

#timeline h1 {
  font-size: 1.5rem;
  color: #fafafa;
  margin-bottom: 32px;
}

#scenar {
  background-color: #2b2b2b;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 24px 16px;
  border-radius: 10px;
}

#scenar h1 {
  font-size: 1.5rem;
  color: #fafafa;
}

#scenar #levelText {
  color: #fafafa;
  line-height: 1.5em;
}

#loginFake,
#loginTeams,
#antivirWindow {
  background-color: #f0f0f0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  top: 100px;
  left: 100px;
  padding: 24px;
  border-radius: 10px;
  gap: 24px;
}

#loginFake form,
#loginTeams form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#loginFake input,
#loginTeams input {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  padding: 8px;
}

#loginFake button,
#loginTeams button,
#antivirWindow button,
#doneBtn {
  height: 40px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 8px;
  cursor: pointer;
}
#antivirWindow {
  max-width: 360px;
}

#antivirWindow p {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.4em;
  text-align: center;
}
#antivirWindow #logoAntivir {
  height: 100px;
  width: 300px;
}

#deleting {
  background-color: #f0f0f0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  bottom: 100px;
  width: 400px;
  height: 200px;
  left: 100px;
  padding: 24px;
  border-radius: 10px;
  gap: 24px;
}

#test {
  background-color: #f0f0f0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  bottom: 100px;
  width: 400px;
  left: 600px;
  padding: 24px;
  border-radius: 10px;
  gap: 32px;
}

#testContetn {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.questionContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.questionWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.answareItemWrapper {
  display: flex;
  gap: 8px;
}

#deleting h2 {
  text-align: center;
}

#deleting #loadnigContainer {
  width: 100%;
  height: 50px;
  border: 1px solid black;
}

#errormesage {
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
}

#deleting #loadnigContainer #loadingItem {
  background-color: rgb(0, 255, 0);
  height: 100%;
}

#CloseBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#closeLogin {
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.endwindow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none;
  background-color: #bafa55;
  align-items: center;
  justify-content: center;
}

.endwindow img {
  height: 250px;
  width: 250px;
}

#badEndWindow {
  background-color: red;
}

#priloha {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 12px;
  border: 1px solid #2b2b2b;
}

#priloha img {
  height: 18px;
  width: 18px;
}

#imgWrapperPriloha {
  padding-right: 8px;
  border-right: 1px solid black;
  height: 100%;
}

#priloha span {
  color: #2b2b2b;
}

#StatisticWindow {
  background-color: #fafafa;
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
